.row {
    margin-right: 15px;
    margin-left: 15px;
    order:1px solid #000;
    overflow: hidden;
}

.nav-container {
  background-color:#000;
  height: 300px;
  max-width:100%;
  position: relative;
  color:#fff;
  margin-bottom: 50px;
}
.center2 {
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: 100%;
  text-align: center;
}
.center {
  position: absolute;
top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
h2 {
  font-size: 50px;
  margin:0;
  padding: 0;
}

#content ul {

    padding:0;
}

h1 {
margin:0;
}

#content li {

border:1px solid #000;
list-style:none;
height:320px;
padding:10px;
margin-bottom:50px;
box-sizing:border-box;
}

.image_box {
float:left;

}

a.nav-link {
    color: #fff;
}
