
{{ define "main" }}

hcb
<ul>
 {{ range (.Paginator 5).Pages }}


 <li>
	     <div class="blog-contents">
   {{ if .Params.thumbnail }}

		     <div class="image_box">

           <a href="{{ .Permalink }}">


               <img src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}" class="rounded-lg shadow-sm w-full h-52 object-cover" style="object-fit: cover;width:" />


               </div>
           <div class="content_box">
            <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
             {{ partial "metadata.html" . }}
{{ .Summary }}



       </div>


           {{else}}

        <div class="content_box">
         <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>

<p>{{ .Summary }}</p>
aaa
{{ if .Truncated }}
      <!-- This <div> includes a read more link, but only if the summary is truncated... -->
      <div>
        <a href="{{ .RelPermalink }}">Read More…</a>
      </div>
      {{ end }}


    </div>
{{end}}
 </div>
    </li>



</ul>


{{ end }}
{{ end }}
