<div id="nav-border" class="container" style="background-color:#000;height:50px;max-width:100%;color:#fff;">
  <div style="display:flex">
  <h2>{{ .Site.Title }}</h2>
    <nav id="nav" class="nav justify-content-center">
        {{ range .Site.Menus.main }}
        <a class="nav-link" href="{{ .URL }}">
        {{ if .Pre }}
        {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
        {{ $icon }}
        {{ end }}
        {{ $text := print .Name | safeHTML }}
        {{ $text }}
        </a>
        {{ end }}
    </nav>
    </div>
</div>
